@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-6">
        <h2>BASE DE DATOS:</h2>
        <img src="~/images/Diagrama.jpg" width="525" height="461" />
    </div>

    <div class="col-md-6">
        <h2>Examen Final Programacion X:</h2>
        <ul>
            <li type="disc"> Nombre: Andersson Hernández</li>
            <li type="disc"> Carnet: 150402008 </li>
        </ul>
        <img src="~/images/Udeo.png" />
    </div>
</div>
