@{
    ViewBag.Title = "REGISTRO";
}
<h2>@ViewBag.Title.</h2>

<address>
</address>
<h4><p>Click al Botón para ir al Formulario </p></h4>
<p><a class="btn btn-primary btn-lg btn-block" href="https://localhost:44352/clientes/Create">Registrar Nuevo Cliente</a></p>
<p><a class="btn btn-primary btn-lg btn-block" href="https://localhost:44352/productoes/Create">Registrar Nuevo Producto</a></p>
<p><a class="btn btn-primary btn-lg btn-block" href="https://localhost:44352/reportes/Create">Registrar Nuevo Reporte</a></p>
<p><a class="btn btn-primary btn-lg btn-block" href="https://localhost:44352/ubicacions/Create">Registrar Nueva Ubicación</a></p>





<div>

    <p><a class="btn btn-danger" href="https://localhost:44352/">REGRESAR AL MENÚ</a></p>
</div>