@{
    ViewBag.Title = "Home Page";
}

<div class="disabled=" disabled"" align="center">

    <h1>CIUDAD DE DOLLAR</h1>
    <img src="~/images/Dollar2.png">
</div>
<div id="boton" align="center">
    <p><a class="btn btn-primary btn-lg btn-toolbar"  href="https://localhost:44352/Account/Login">Iniciar Sesión</a></p>
</div>
<div class="row">
    <div>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>¡Cuidado!</strong> Inicia sesión para acceder a las funciones
        </div>

    </div>

</div>