@{
    ViewBag.Title = "LISTADOS";
}
<h2>@ViewBag.Title.</h2>

<address>
</address>
<h4><p>Click al Botón para ir al Listado </p></h4>
<p><a class="btn btn-warning btn-lg btn-block" href="https://localhost:44352/clientes/Index">Listados Cliente</a></p>
<p><a class="btn btn-warning btn-lg btn-block" href="https://localhost:44352//productoes/Index">Listados Producto</a></p>
<p><a class="btn btn-warning btn-lg btn-block" href="https://localhost:44352/ubicacions/Index">Listados Ubicación</a></p>





<div>

    <p><a class="btn btn-danger" href="https://localhost:44352/">REGRESAR AL MENÚ</a></p>
</div>