@{
    ViewBag.Title = "Reportes";
}
<h2>@ViewBag.Title.</h2>

<address>
</address>
<h4><p>Click al Botón para ir Reporte</p></h4>
<p><a class="btn btn-success btn-lg btn-block" href="https://localhost:44352/reportes/Index">Reporte General</a></p>





<div>

    <p><a class="btn btn-danger" href="https://localhost:44352/">REGRESAR AL MENÚ</a></p>
</div>