@using Dollar.Models
@model LoginViewModel
@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<div class="dropdown-menu-right">
    <center>
        <div class="log" style="max-width:400px">
            <img class="lap" src="~/images/Dollar2.png" style="width:40%">
        </div>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </center>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}